// Body resets
//
// Update the foundational and global aspects of the page.

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (min-width: 38em) {
    font-size: 18px;
  }
}

body {
  color: #111;
  background-color: #fffff8;
}

body, button, input, select, textarea {
  font-family: "PingFang SC", "Lantinghei SC", "Microsoft Yahei", "Hiragino Sans GB", "Microsoft Sans Serif", "WenQuanYi Micro Hei", sans;
}

::-moz-selection{
  background: #FF5E99;
  color:#fff;
  text-shadow: none;
}

::selection {
  background:#FF5E99;
  color:#fff;
  text-shadow: none;
}

::-webkit-scrollbar {
  width: 4px;
  height: 6px;
}

::-webkit-scrollbar-track {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.5);
  -webkit-border-radius: 0px;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0,0,0,0.2);
}

// No `:visited` state is required by default (browsers will use `a`)
a {
  color: #268bd2;
  text-decoration: none;

  // `:focus` is linked to `:hover` for basic accessibility
  &:hover,
  &:focus {
    text-decoration: underline;
  }

  strong {
    color: inherit;
  }
}

img {
  display: block;
  max-width: 100%;
  margin: 0 0 1rem;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px #555;
  box-shadow: 0 0 10px #555;
}

table {
  text-align: right;
  margin-bottom: 1rem;
  width: 100%;
  font-size: 85%;
  border-top: .125rem solid #333333;
  border-bottom: .125rem solid #333333;
  border-collapse: collapse;
  -webkit-font-feature-settings: 'tnum'; /* This is technically redundant */
  -moz-font-feature-settings: 'tnum';
  -ms-font-feature-settings: 'tnum';
}

thead th {
  border-bottom: .0625rem solid #333333;
  border-collapse: collapse;
}

td,
th {
  padding: .25rem .5rem;
}

tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}
