// Masthead
//
// Super small header above the content for site name and short description.

.masthead {
  padding-top:    1rem;
  padding-bottom: 1rem;
}

.masthead-title {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  color: #505050;

  a {
    color: #505050;
  }

  small {
    font-size: 75%;
    font-weight: 400;
    color: #c0c0c0;
    letter-spacing: 0;
  }
}

.navigation {
  float: right;
}

.navigation ul {
  list-style-type: none;
}

.navigation ul li {
  display: inline-block;
}

.navigation a{
  color: #000;
}

.navigation a.active {
  color: #bce72d;
}
