<!DOCTYPE html>
<html lang="{{ site.lang }}">

{% include head.html %}

<body itemscope itemtype="http://schema.org/WebPage">

    <div class="container content">
        {% include header.html %}
        <main>
            {{ content }}
        </main>
        <!-- {% if site.data.social.disqus_shortname and page.comments == true %}
      <div id="disqus_thread"></div>
      {% endif %} -->
        {% if site.data.social.valine_comment.enable and page.comments == true %}
        <div id="comments"></div>
        {% endif %} {% include footer.html %}
    </div>

    {% include scripts.html %}
</body>

</html>